* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
}

.app {
  padding: 10px;
  height: 600px;
  width: 600px;
  border: 20px solid #7048e8;
  background: #e9ecef;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.cell {
  height: 25px;
  width: 25px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:nth-child(odd) {
  background-color: #b2f2bb;
}

.cell:nth-child(even) {
  background-color: #ebfbee;
}

/* Snake */
.snake {
  background: #e8590c !important;
  border-radius: 4px;
}

/* Food */
.food {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
}
